@import "../vars.css";

.Clock {
    display: flex;
    flex-flow: row nowrap;
    font-family: monospace;
    font-size: 50px;
    /* overflow: hidden; */
    margin: -1px;
    padding-top: 0.4em;
    align-items: flex-start;
}

.Digit {
    transition: 750ms all ease;
    margin: 0;
    padding: 0;
}

.digit-pane > div {
    transition: 500ms all ease;
}

.lowlight {
    opacity: 0;
}

.highlight {
    opacity: 1;
}

.small-font {
    font-size: 0.6em;
}

.ampm {
    align-self: baseline;
}