@import "../vars.css";

.Clock {
    display: flex;
    flex-flow: row nowrap;
    font-family: monospace;
    font-size: 50px;
    /* overflow: hidden; */
    margin: -1px;
    padding-top: 0.3em;
    align-items: baseline;
}

.Digit {
    transition: 750ms all ease;
    margin: 0;
    padding: 0;
}

.digit-pane > div {
    transition: 500ms all ease;
}

.lowlight {
    opacity: 0;
}

.highlight {
    /* font-weight: bold; */
    opacity: 1;
}

.ampm {
    font-size: 0.6em;
}